HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
**/.idea/dataSources/
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/datasources/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# Env files
.env.dev
.env.prod